.custom-bg{
    background:#fceae8 !important;
}
.text-pink{
    color: #ff136f !important;
}
.btn-pink{
    background-color: #ff136f !important;
    color: #fff !important;
}
.bg-gold{
    background:#ffa500 !important;
}
.bg-lavender{
    background:#da70d6 !important;
}
.bg-blue{
    background:#0000ff !important;
}