.carousel-item .custom-bg{
    background:#fceae8;
}
.text-pink{
    color: #ff136f;
}
.btn-pink{
    background-color: #ff136f;
    color: #fff;
}
.bg-gold{
    background:#ffa500;
}
.bg-lavender{
    background:#da70d6;
}
.bg-blue{
    background:#0000ff;
}